thead.pt-header > tr > td{
    background-color: black;
    color:silver;
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    font-family: serif;
}

tbody#prayerTimes > tr > td:nth-child(1){
    padding-left: 1rem;
}
tbody#prayerTimes > tr > td:nth-child(2),
tbody#prayerTimes > tr > td:nth-child(3){
    text-align: right;
    padding-right: 1rem;
    font-family: monospace;
}
.subheader{
    text-align: center;
    background-color: gray!important;
}
.btn-full{
    width: 100%;
    max-width: 400px;
}